.button {
	font-family: 'Arsenal', sans-serif;
	text-align: center;
	font-weight: 100;
	font-size: 16px;
	font-style: bold;
	background-color: black;
	cursor: pointer;
	box-sizing: border-box;
}

#mobileStarted {
	display: block;
	font-size: 40px;
}

#mobileStarted i {
	padding: 2em 1em 1em;
}

.stopButton {
	font-size: 80px;
}

.playButton {
	font-size: 80px;
}

.timer {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.button:hover span {  /** remove if you fix other buttons**/
	display: none;
}

body {
	background-color: black;
}

p {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Arsenal', sans-serif;
}

footer {
	text-align: center;
	font-size: 14px;
	padding: 20px;
	font-family: 'IM Fell Double Pica', serif;
	border-top: 2px solid #c7ffdd;
}

footer .fa-angle-double-up,
footer .fa-angle-double-down {
	font-size: 20px;
}

footer span {
	text-transform: uppercase;
}


/**about and social info footers and navs**/

footer:hover {
	background-color: #c7ffdd;
	color: black;
	cursor: pointer;
}


#topBar:hover {
	background-color: #c7ffdd;
	color: black;
}

#topBar a {
	text-decoration: none;
	color: #c7e9ff;
	cursor: pointer;
}

#topBar a.black {
	color: black;
}

#longFooter {
	display: none;
}

#longFooter.expand {
	display: block;
	color: #c7ffdd;
	background-color: black;
}

div .clicked {
	display: none;
}

footer.expand {
	color: #c7ffdd;
	background-color: black;
	line-height: 1.5;
}

/**LANDING PAGE**/

section.main {
	display: flex;
	justify-content: center;
	color: #c7ffdd;
	height: 100vh;
}

header#landingPage {
	margin: auto;
	padding: 20px;
	width: 85%;
	top: 30%;
	position: absolute;
	text-align: center;
}

#landingPage h1 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 45px;
	padding: 20px;
	border-top: 2px solid #c7ffdd;
}

#landingPage h2 {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #c7ffdd;
}

#mobileStarted a,
footer a,
.social a {
	text-decoration: none;
	color: #c7ffdd;
}

footer a {
	text-decoration: underline;
}

/** FILM PAGE **/

.filmPage {
	font-family: 'Playfair Display', serif;
	color: #c7ffdd;
}

.filmPage header {
	margin: auto;
	padding: 20px;
	width: 95%;
	text-align: center;
}

.filmPage header h1 {
	text-transform: uppercase;
	font-size: 30px;
	padding-top: 10px;
	border-top: 2px solid #c7ffdd;
}

.filmPage header h2 {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 18px;
	padding: 10px 0px 20px;
	border-bottom: 2px solid #c7ffdd;
}

.quote {
	text-align: center;
	font-family: 'Arsenal', sans-serif;
	line-height: 1.5;
	font-size: 20px;
	color: #dbdcff;
}

.quote span {
	text-transform: uppercase;
}

.chooseFilm h1,
.pulpPage h1,
.end {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.chooseFilm section {
	background-size: cover;
	padding: 20px;
	margin: 40px;
	color: black;
}

.chooseFilm aside {
	width: 40%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.75);
}

.pulpFiction {
	background-image: url(../images/pulp_fiction.jpg);
	background-position: center top;
	border: 2px solid #ffddc7;
	display: flex;
	justify-content: flex-end;
}

/**class for these buttons?**/

#pulpButton {
	border: 2px solid #ffddc7;
	color: #ffddc7;
	margin-top: 15px;
	width: 100%;
	padding: 1em;
}

#pulpButton a {
	text-decoration: none;
	color: #ffddc7;
}

#pulpButton span:hover {
 	display: none;
 	text-decoration: none;
}

#pulpButton:hover {
	color: black;
	background-color: #ffddc7;
}

#pulpButton:hover:before {
	content:"C'est la vie";
}


.eternal {
	background-image: url(../images/eternal.jpg);
	background-position: center top;
	border: 2px solid #c7e9ff;
	display: flex;
	justify-content: flex-start;
}

#eternalButton {
	border: 2px solid #c7e9ff;
	color: #c7e9ff;
	margin-top: 15px;
	width: 100%;
	padding: 1em;
}

#eternalButton:hover {
	color: black;
	background-color: #c7e9ff;
}

#eternalButton:hover:before {
	content:"Each wish resign'd";
}

.prestige {
	background-image: url(../images/prestige2.png);
	background-position: center center;
	border: 2px solid #dbdcff;
	display: flex;
	justify-content: flex-end;
}

#prestigeButton {
	border: 2px solid #dbdcff;
	color: #dbdcff;
	margin-top: 15px;
	width: 100%;
	padding: 1em;
}

#prestigeButton:hover {
	color: black;
	background-color: #dbdcff;
}

#prestigeButton:hover:before {
	content:"The first part is called the Pledge...";
}

.short {
	display: none;
}

.expand .social i {
	font-size: 30px;
	padding: 10px;
}

/**PULP FICTION PAGE**/

.social div {
	cursor: pointer;
}

.aboutNav {
	display: none;
}

.aboutNav div {
	background-color: #c7ffdd;
	width: 50%;
	font-family: 'IM Fell Double Pica', serif;
	padding: 10px;
}

.aboutNav div a {
	color: black;
	padding: 0.4em;
}

.aboutNav.extendAbout {
	display: block;
	display: flex;
	justify-content: flex-end;
	line-height: 1.5;
	position: fixed;
}

.burger {
	display: none;
}

.burger:hover {
	cursor: pointer;
}

.pulpPage header {
	position: fixed;
	width: 100%;
}

.headerPadding {
	display: block;
	width: 100%;
	height: 208px;
}

.pulpPage h1 {   
	color: #D81616;
	padding: 1em 1em 0.5em;
	text-align: center;
}

.pulpInOrder {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #D81616;
	text-align: center;	
 /**  put on display none so can set up mobile page**/
}

.pulpInOrder img {
	width: 300px;
	margin: 20px;
	border-top: 2px dotted #D81616;
	border-bottom: 2px dotted #D81616;
}

.pulpInOrder div p {
	padding: 2em;
	margin: 5px;
	border-right: 2px dotted #D81616;
	border-left: 2px dotted #D81616;
	width: 300px;
}

div#blankPadding {
	height: 100px;
}

#mobilePadding div {
	display: none;
}

section.start {
	padding-left: 75px;
	padding-right: 75px;
}

section.end {
	padding-left: 75px;
	padding-right: 75px;
}

section.scroll {
	color: #D81616;
	padding: 30px 50px;
	position: fixed;
}


/**house some of the below in media queries**/


nav#topBar {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #c7ffdd;
	font-size: 14px;
	font-family: 'IM Fell Double Pica', serif;
	color: #c7ffdd;
	padding: 1em;
}

nav#topBar .social {
	display: flex;
	flex-wrap: nowrap;
}

nav#topBar span {
	text-transform: uppercase;
}

nav#topBar i {
	padding: 0 0.3em;
}

.mobileButton {
	display: none;
}


/**what to do with this???**/
.cover {
	display: flex;
	justify-content: center;
}

.cover img {  
	width: auto;
	height: 400px;
	display: none;
}

/** MOBILE CODE **/

/** IPAD not sure this is working**/

@media (max-width: 768px) {
	.short {
		display: block;
	}

	.long {
		display: none;
	}

	.quote {
		font-size: 0.75em;
	}

	.chooseFilm aside {
		width: 60%;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.7);
	}

	#blankPadding div {
		display: none;
	}

	#mobilePadding div {
		display: block;
		height: 100px;
	}

}
/** PHONE - do smaller just button version for phone - this is definitely not working**/

@media (max-width: 420px) { 
  	.long {
  		display: none;
  	}

  	.short {
  		display: none;
  	}

	.pulpInOrder img {
		width: 500px;
		height: auto;
	}

	.quote {
		font-size: 0.75em;
	}

	section.start {
		padding-left: 100px;
		padding-right: 100px;
	}

	section.end {
		padding-left: 100px;
		padding-right: 100px;
	}	

	#landingPage h1 {
		font-size: 30px;
	}

	#landingPage h2 {
		font-size: 15px;
	}

	.eternal aside {
		display: none;
	}

	.pulpFiction aside {
		display: none;
	}

	.prestige aside {
		display: none;
	}

	.mobileButton {
		display: block;
		font-family: 'Arsenal', sans-serif;
		text-align: center;
		font-weight: 100;
		font-size: 16px;
		font-style: bold;
		cursor: pointer;
		padding: 1em;
		background-color: rgba(0, 0, 0, 0.4);
		width: 100%;
		margin: 2em;
	}

	.mobileButton a {
		text-decoration: none;
	}

	#prestigeMobileButton {
		border: 2px solid #dbdcff;	
		color: #dbdcff;
	}

	#pulpMobileButton {
		border: 2px solid #ffddc7;
	}

	#pulpMobileButton a {
		color: #ffddc7;
	}

	#eternalMobileButton {
		border: 2px solid #c7e9ff;
		color: #c7e9ff;
	}

	.quote {
		padding: 2em;
	}

	nav#topBar .social {
		display: none;
	}

	.burger {
		display: block;
		text-align: right;
	}



/**what to do with this???**/
	.cover {
		display: flex;
		justify-content: center;
	}

	.cover img {  
		width: auto;
		height: 400px;
		display: none;
	}




/**once this is fixed mobile is done**/
/*	#blankPadding div {
		display: none;
	}

	#mobilePadding div {
		display: block;
		height: 100px;
	}*/
}

